<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>E-Voting System</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/appScripts/controller.js"></script>
  </head>

  <body class="nav-md" ng-app="e-voting" ng-controller="addContCntrl">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="profile.html" class="site_title"><i class="fa fa-paw"></i> <span>E-Voting System</span></a>
            </div>

            <div class="clearfix"></div>
            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>OPERATIONS</h3>
                <ul class="nav side-menu">
                  <li><a href="profile.html"><i class="fa fa-bug"></i>Cast Vote</a>
                  </li>
                  <li><a><i class="fa fa-windows"></i>Monitor Vote<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="audit.html">View Results</a></li>
                      <li><a href="audit.html">Vote History</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i>UMR<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#" ng-click="showAddContView()">Add Aspirant</a></li>
                      <li><a href="#" ng-click="showAddedList()">View Aspirant</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-gears"></i>Settings<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="settings.html">Manage Roles</a></li>
                        <li><a href="settings.html">Change Password</a></li>
                        <li><a href="settings.html">Reset</a></li>
                        <li><a href="settings.html">Check For Updates</a></li>
                    </ul>
                  </li>
                  <li><a href="login.html"><i class="fa fa-sign-out"></i>Log-Out<span class=""></span></a>
                    
                  </li>
				        </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt="">John Doe
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row" id="ContestntList" style="display: none">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Contestants</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Filter By Post: </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-group" tabindex="-1" aria-hidden="true">
                              <option value="CT">Connecticut</option>
                              <option value="DE">Delaware</option>
                              <option value="FL">Florida</option>
                              <option value="GA">Georgia</option>
                              <option value="IN">Indiana</option>
                              <option value="ME">Maine</option>
                              <option value="MD">Maryland</option>
                              <option value="MA">Massachusetts</option>
                          </select>
                        </div>
                    </div>
                    <!-- start project list -->
                    <!-- {{contestants|json}} -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">ID</th>
                          <th style="width: 20%">Contestants Name</th>
                          <th>Aspiring post</th>
                          <th>Vote Count</th>
                          <th style="width: 20%">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in contestants">
                          <td>{{$index + 1}}</td>
                          <td>
                            <a>{{x.tblCont.fname}}  {{x.tblCont.lname}} {{x.tblCont.mname}}</a>
                          </td>
                          <td>
                            {{x.tblCont.post}}
                          </td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60" aria-valuenow="58" style="width: 60%;"></div>
                            </div>
                            <small>60% Complete</small>
                          </td>
                          <td>
                            <a href="#" class="btn btn-primary btn-xs" ng-click="showContDetails($index)"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-danger btn-xs" ng-click="delContestnt($index)"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- end project list -->
                  </div>
				        </div>
              </div>
			        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <a class="btn btn-success" ng-click="showAddContView()"><i class="fa fa-edit m-right-xs"></i>Add Contestant</a>
                </div>
              </div>
			      </div>
            
			      <div class="row" id="ContestntDetails" style="display:none">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Contestant Details</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <!-- {{contestDetail.tblCont.imgVal.fileVal[0]|json}} -->
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                          <div ng-if="contestDetail.tblCont.imgVal==null " id="crop-avatar">
                              <img class="img-responsive avatar-view" title="Upload Image" style="width:200px;height:220px; transform: none;">
                          </div>
                          
                      </div><br>
                      <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
					            <a class="btn btn-success" ng-click="showAddedList()" ><i class="fa fa-arrow-left m-right-xs"></i> Back</a>
                      <br />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <!-- start user projects -->
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Phone Number<span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="phnNumber" ng-model="contestDetail.tblCont.phnNumber" value="{{contestDetail.tblCont.phnNumber}}"   class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="mname" class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="mname" ng-model="contestDetail.tblCont.fname" value="{{contestDetail.tblCont.fname}}" class="form-control col-md-7 col-xs-12" type="text">
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label for="lname" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input id="lname" ng-model="contestDetail.tblCont.lname" value="{{contestDetail.tblCont.lname}}" class="form-control col-md-7 col-xs-12" type="text" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mname" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input id="mname" ng-model="contestDetail.tblCont.mname" value="{{contestDetail.tblCont.mname}}" class="form-control col-md-7 col-xs-12" type="text" >
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input id="mname" ng-model="contestDetail.tblCont.mname" value="{{contestDetail.tblCont.mname}}" class="form-control col-md-7 col-xs-12" type="text" >
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Matriculation No.<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input type="text" id="matric" ng-model="contestDetail.tblCont.matric" value="{{contestDetail.tblCont.matric}}"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Department<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input type="text" id="department" ng-model="contestDetail.tblCont.department" value="{{contestDetail.tblCont.department}}" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Level <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input type="text" id="level" ng-model="contestDetail.tblCont.level" value="{{contestDetail.tblCont.level}}" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                      <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Aspiring Post 1</label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" ng-model="contestDetail.tblCont.post" value="{{contestDetail.tblCont.post}}">
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Notify of Milestones</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="mname" ng-model="contestDetail.tblCont.mname" value="{{contestDetail.tblCont.mname}}" class="form-control col-md-7 col-xs-12" type="text" >
                                    </div>
                                </div>
      
                              </form>
                            <!-- end user projects -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row" id="addNewContestnt" style="display:none">               
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Form Wizards <small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <!-- <div class="img-preview preview-lg" style="width: 263px; height: 147.938px;">
                        <img src="blob:null/b2f4031d-75ec-4491-9d61-f609511715d5" style="display: block; width: 224.541px; height: 224.541px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; margin-left: 22.2079px; margin-top: -23.4378px; transform: none;">
                      </div> -->
                      <!-- {{userImg.fileVal[0]|json}} -->
                      <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                          
                          <div class="profile_img">
                            <div ng-if="userImg.fileVal=='' " id="crop-avatar">
                              <!-- default avatar -->
                              <img class="img-responsive avatar-view" src="images/user.png" alt="Avatar" title="Change the avatar" style="border-radius: 8em">
                              </div>
                            <div ng-if="userImg.fileVal!='' " id="crop-avatar">
                                <img class="img-responsive avatar-view"  src="{{userImg.fileVal[0]}}" alt="Image" title="Upload Image" style="width:200px;height:220px; transform: none;border-radius: 8em">
                              </div>
                          </div>
                          <br>
                          <a onclick="pickImage()" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>     Change Image</a>
                          <input type="file" id="imgTrigger" style="display:none;" value="Upload Image" text="Upload Image" class="form-control col-md-4" fileread="userImg['fileVal']"/>
                          <!-- <a class="btn btn-success" ng-click="addNewDetail()" ><i class="fa fa-edit m-right-xs"></i>Add New</a> -->
                          <br>
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-9 profile_right"> 
                      <!-- Smart Wizard -->
                      <p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>
                      <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                          <li>
                            <a href="#step-1">
                              <span class="step_no">1</span>
                              <span class="step_descr">
                                  Step 1<br />
                                  <small>Basic Details</small>
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="#step-2">
                              <span class="step_no">2</span>
                              <span class="step_descr">
                                  Step 2<br />
                                  <small>Academic Details</small>
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="#step-3">
                              <span class="step_no">3</span>
                              <span class="step_descr">
                                  Step 3<br />
                                  <small>Extra MileStones</small>
                              </span>
                            </a>
                          </li>
                        </ul>
                        <div id="step-1">
                          <form class="form-horizontal form-label-left">
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Phone Number<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="phnNumber" ng-model="contestDetail.phnNumber" value="{{contestDetail.phnNumber}}"   class="form-control col-md-7 col-xs-12">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="mname" class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="mname" ng-model="contestDetail.fname" value="{{contestDetail.fname}}" class="form-control col-md-7 col-xs-12" type="text">
                              </div>
                            </div>
                            <div class="form-group">
                                <label for="lname" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input id="lname" ng-model="contestDetail.lname" value="{{contestDetail.lname}}" class="form-control col-md-7 col-xs-12" type="text" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mname" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input id="mname" ng-model="contestDetail.mname" value="{{contestDetail.mname}}" class="form-control col-md-7 col-xs-12" type="text" >
                                </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                                  </label>
                                  <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="female"> Female
                                  </label>
                                </div>
                              </div>
                            </div>
  
                          </form>
  
                        </div>
                        <div id="step-2">
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Matriculation No.<span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="matric" ng-model="contestDetail.matric" value="{{contestDetail.matric}}"  class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Department<span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="department" ng-model="contestDetail.department" value="{{contestDetail.department}}" class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Level <span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="level" ng-model="contestDetail.level" value="{{contestDetail.level}}" class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>
                            </form>
                        </div>
                        <div id="step-3">
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Aspiring Post 1</label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                      <select id="heard" class="form-control"  ng-model="contestDetail.post" ng-options="item.roleName as item.roleName for item in roleOptions" ></select>  
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Notify of Milestones</label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                      <label class="btn btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="notify" value="Y"> &nbsp; Yes &nbsp;
                                      </label>
                                      <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="notify" value="N"> No
                                      </label>
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div> 
                              <!-- {{contestDetail|json}}         -->
                      </div>
                      <!-- End SmartWizard Content -->
                      <button id="subForm" ng-click="subForm(contestDetail)" style="display:none">GO</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

    <!-- jQuery Smart Wizard -->
    <script>
      function pickImage(){
        //alert("starting");
        document.getElementById("imgTrigger").click();
      }
      $(document).ready(function() {
        $('#wizard').smartWizard();

        $('#wizard_verticle').smartWizard({
          transitionEffect: 'slide'
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
        
      });
    </script>
    <!-- /jQuery Smart Wizard -->
  </body>
</html>