<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentellela Alela! | </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <script src="../js/angular/angular.min.js"></script>
    <script src="../js/appScripts/controller.js"></script>
  </head>

  <body class="login" ng-app="e-voting" ng-controller="signIn">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper" >
        <div class="animate form login_form">
          <section class="login_content" style="border-style: solid;padding:25px">
            <form>
				<img src="../images/vote1.png" alt="logo" height="65px"; width="80px"/>
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" ng-model="loginCredential['Username']" required="" autofocus="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" ng-model="loginCredential['password']" required=""/>
              </div>
              <div>
                <a class="btn btn-default submit" ng-click="signIn(loginCredential);">Log in</a>
                <a class="reset_pass" href="#">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div>
                  <h1><i class="fa fa-paw"></i> E-Voting System</h1>
                  <p>©2017 All Rights Reserved. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content" style="border-style: solid;padding:25px">
            <form>
                <img src="../images/vote1.png" alt="logo" height="65px"; width="80px"/>
              <h1>Create Account</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" ng-model="signUpCredential['Username']" required="" autofocus=""/>
              </div>
              <!-- <div>
                <input type="email" class="form-control" placeholder="Email" ng-model="signUpCredential['email']" required="" />
              </div> -->
              <div>
                <input type="password" class="form-control" placeholder="Password" ng-model="signUpCredential['password']" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Reenter Password" ng-model="signUpCredential['password2']" required="" />
              </div>
              <div>
                <a class="btn btn-default submit" ng-click="signUp(signUpCredential);" >Submit</a>
                <!-- <input class="btn btn-default submit" type="submit" value="Submit"> -->
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div>
                  <h1><i class="fa fa-paw"></i> E-Voting System</h1>
                  <p>©2017 All Rights Reserved. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
